/* Resetting the default html styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY STYLES */
body{
    font-family: 'Roboto';
    background-color: #Fbfcfa;
}
/* Links styles  */
/* Removes underlines */
a{
    text-decoration: none;
}
/* button styles */
button{
    background-color: #3d83df;
    margin-left: 150px;
    display: inline-flex;
    padding: 5px;
    margin-top: 2px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #3d83df;
    border-radius: 5px;
}
/* h2 heading styles */
h2{
    font-size: 36px;
}
/* HEADER SECTION */
/* header container styles */
header {
    display: flex;
    color: #fff;
    padding: 15px;
   text-align: center;
   margin-left: 50px;
   margin-right: 50px;
}
/* Navigation container styles */
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo styling */
.logo {
    width: 28%; /* Set the width of the logo to 28% of its containing element */
    height: auto; /* Allow the height to adjust automatically to maintain aspect ratio */
}
/* Navigation links container styles */
.links {
    list-style: none;
    display: flex;
}
/* Individual navigation link styles */
.links li {
    color: #ababab;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}
/* Navigation link styling */
.links li a {
    color:#ababab;/* Link text color */
    padding: 5px 10px; /* Padding around link text */
    display: block; /* Display as block element for better styling */
}
/* Navigation links hover effects styling */
.links li a:hover {
    color: #00b39b;
}
/* Departments sub menus display and position styling */
.depart:hover .sub-links{
    display: block;
    list-style: none;
    left: -200px;
}
/* About us link styling */
.links li.active a{
    color:#00b39b;
}
/* Submenu link styles */
.sub-links li a {
    color: #ababab; /* Submenu link text color */
}
.sub-links {
    display: none;
    position: absolute;
    width: 300px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  .sub-links li a{
    color: #ababab;
  }
  /* Submenu link hover styles */
.sub-links li:hover a {
    color: #00b39b; /* Set the hover color for submenu links */
}


/* MAIN SECTION STYLES */
/* MAIN SECTION STYLES */
main {
    display: flex; /* Display as flex container */
    align-items: center; /* Center-align items vertically */
    margin-left: auto; /* Auto margin on the left side */
    flex-direction: column; /* Stack child elements vertically */
    text-align: center; /* Center-align text within the main section */
    max-width: 1200px; /* Set the maximum width for better readability */
    margin-left: 50px; /* Add a left margin for better spacing */
}

/* About Section Styles */
.about-container {
    display: flex; /* Display as flex container */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Adjust to control the space between columns */
    margin: auto; /* Center the container horizontally */
}

.title {
    margin-top: 50px; /* Top margin for the title */
    font-size: 1.8rem; /* Font size of the title */
    color: #00ccb1; /* Color of the title */
}

.about-text {
    flex: 0 0 49%; /* Adjust the percentage to control the width of each column */
    line-height: 1.6rem; /* Line height for better readability */
    margin-top: 50px; /* Top margin for the about text */
    margin-bottom: 100px; /* Bottom margin for better spacing between columns and rows */
    padding: 20px; /* Internal padding within each about-text section */
    max-width: 500px; /* Maximum width of each column */
    color: #747474; /* Color of the text */
    font-size: 18px; /* Font size of the text */
    padding: 0; /* Resetting padding */
    text-align: start; /* Text alignment, adjust as needed */
}

.left-text {
    margin-left: 0; /* Resetting left margin for left-aligned text */
}

/* services section */
.services-container{
    display: flex;
    margin-left: 2px;
}
.service-box{
    flex-direction: column;
    padding: 1%;
    flex-basis: 30.3%;
    max-height: 400px;
    text-align: center;
    text-align: start;
    color: #ffffff;
}
.service-left{
    padding-top: 50px;
    margin-left:50px;
    padding-bottom: 50px;
}
.service-text,
.select{
    font-size: 1.5rem;
}
.select{
    margin-top: 140px;
    position: relative;
}

.service-box1{
    background-color: #00ccb1;
    border-radius: 10px;
    width: 320px;
    
}
.service-box2{
    background-color: #3d83df;
    border-radius: 10px;
    width: 300px;
}
.service-box3{
    background-color: #1b2734;
    border-radius: 10px;
    width: 320px;
 
}
/* Dropdown menu styles */


  .choose{
   border: none;
   background-color:#00ccb1;
   font-size: 1.2rem;
   position: relative;
   z-index: 1;
   color: #fff;
   text-decoration: underline;
}
.choose-2{
    border: none;
    background-color:#3d83df;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: underline;
    

}

.top{
    position: absolute;
    bottom: 50px;
    border:none;
    background-color:#1b2734;
    color: #fff;
    text-decoration: underline;
    font-size: 1.2rem;
}
.choose-3{
    border: none;
    background-color:#1b2734;
    font-size: 1.2rem;
    position: relative;
    z-index: 1;
    color: #fff;
    text-decoration: underline;
}

/* branches section */
#branches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  
}

.branch-container {
    display: flex;
    flex-wrap: wrap;
}

.branch{
    flex-basis: 30.3%;
    height: 400px;
    border:thin solid rgb(241, 241, 227);
    border-radius: 10px;
    width: 280px;
    margin-top: 50px;
    margin-right: 20px;
}
.branch:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a box shadow */
}
.branch-box{
    box-sizing: border-box;
    width:fit-content;
   
    padding-bottom: 20px;

}
.btn-country{
    margin-top: 20px;
}
.branch img{
    border-radius: 10px;
    width: 100%;
}

.bogota img{
    width: 100%;
    max-height:fit-content;
}

.country{
    position: absolute;
    margin-left: 50px;
    margin-top: 2px;
}
/* brands section */
.brands-container{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
 
}
.brands-box{
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 500px;
   
 
}
.brands-title{
   text-align: justify;
   max-width: 340px;
   max-height: 400px;
   margin-right:130px;
}
.brands-links-box{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 53px;
}
  
.brands-link a{
    color:#ababab;
    font-weight: bold;
    font-size: 1.2rem;
    
}
.sygnet-icon{
    width: 15px;
    left: 10px;
}

.heading{
    color:#00b39b;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
}
.tuotempo img{
    width: 130px;
    
}
.gipo img{
    width: 50px;
}
/* join section */
.btn-join{
    padding: 12px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 100px;
}
/* hr styling */
hr{
    color:#ababab;
    opacity: 15%;
}
/* FOOTER STYLES */
footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    align-items: center;
    font-size: 13.5px;
    color: #747474;
}
/* footer links color */
footer a{
    color: #3d83df;
}
footer a:hover {
    text-decoration: underline;
}
.footer-sect{
    margin-bottom: 10px;
}
